{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center">Resetar Password</h2>
                    <form method="post" class="mt-4">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="{{ form.new_password1.id_for_label }}">Nova Senha</label>
                            <input type="password" name="password1" class="form-control" id="id_password1">
                        </div>
                        <div class="form-group">
                            <label for="{{ form.new_password2.id_for_label }}">Confirmação da Nova Senha</label>
                            <input type="password" name="password2" class="form-control" id="id_password2">
                        </div>
                        <button type="submit" class="btn btn-primary">Mudar minha senha</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
