html, body {
    height: 100%;
    margin: 0;
}

#root {
    max-width: 1500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }

  #main-container {
    flex:1;
  }

  .bg-light {
    background-color: white;
  }

.breadcrumb {
    padding: 10px 10px;
    font-size: 0.9em;
}

.breadcrumb a {
    text-decoration: none;
    color: #007BFF;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.breadcrumb-separator {
    padding: 0 5px; /* Add some spacing around the arrow */
    color: #262627; 
    font-weight: bold;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
    font-weight: bold; /* Make it fatter */
    font-size: larger; /* Make it slightly bigger */
    margin: 0 0.5rem; /* Adjust spacing as needed */
}



.card {
    font-family: 'Roboto', sans-serif;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Slight box shadow for cards */
}

.card-header {
    background-color: #f5f5f5;  /* Lighter background for card header */
    font-weight: 600;  /* Slightly bold */
}

.list-group-item {
    padding: 15px 20px;  /* Increased padding */
    border-bottom: 1px solid #e5e5e5;  /* Slight change in border color for softer look */
}

.card-body p {
    font-size: 0.95rem;  /* Adjusting paragraph font size */
}

.fade-out-effect {
    position: relative;
    overflow: hidden;
    max-height: 100px; /* Adjust based on how much text you want to show initially */
    transition: max-height 0.5s ease;
}

.fade-out-effect::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px; /* Height of the fade effect */
    background: linear-gradient(to bottom, transparent, white);
}

.expanded {
    max-height: none;
}


/* Expandable */

.module {
    position: relative;
  }

  .module .collapse, .module .collapsing {
    height: 7rem;
  }

  .module .collapse {
    display: block;
    overflow: hidden;
  }

  .module .collapse.show {
    height: auto;
  }


  .read-more {
    opacity: 1;
    transition: all .3s linear;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;

    background-image: linear-gradient(to bottom, transparent 60%, white);
  }

  .read-more:not(.collapsed) {
    opacity: 0;

  }

  .module {
    position: relative;
  }

  .module .collapse, .module .collapsing {
    height: 7rem;
  }

  .module .collapse {
    display: block; // By default the bootstrap collapse has a display: none
    overflow: hidden;
  }

  .module .collapse.show {
    height: auto;
  }


  .read-more {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;

    // 60% is where it should start the transition from transparent to white, increase it if you want to show more of your text
    background-image: linear-gradient(to bottom, transparent 60%, white);

    // The opacity and transition is just to smooth out the effect 
    opacity: 1;
    transition: all .3s linear;
  }

  .read-more:not(.collapsed) {
    opacity: 0;
    // If you want to make the clickable area disapear once it is open, change the visibility to hidden:
    /* visibility: hidden; */
  }
  



@media (max-width: 768px) {
    .display-4 {
        font-size: 2.5rem; /* Adjust the size as needed */
    }
}

@media (max-width: 576px) {
    .display-4 {
        font-size: 1.5rem; /* Adjust the size as needed */
    }

    .reduce-padding-sm {
        padding: 0.1rem !important; /* Override padding for small screens */
}
}

