{% extends "base.html" %}
{% block title %}Classes de Composições SINAPI{% endblock %}
{% block content %}
<div class="container mt-5">
    <!-- Header Section -->
    <div class="jumbotron">
        <h1 class="display-4">Classes de Composições SINAPI</h1>
        <p class="lead">Explore as Classes e Categorias do SINAPI</p>
    </div>

    <!-- Classes Section -->
    <div class="card mt-4">
        <div class="card-header">
            <h2>Classes</h2>
        </div>
        <ul class="list-group list-group-flush">
            {% for classe in classes %}
                <li class="list-group-item">
                    <a href="{% url 'compositions:classe_detail' classe.code|lower %}">{{ classe.name }} <small class="text-muted">({{ classe.code }})</small></a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
