{% extends "base.html" %}
{% block title %}Classes de Composições SINAPI{% endblock %}
{% block content %}
<div class="container mt-5">
    <!-- Header Section -->
    <div class="jumbotron">
        <h1 class="display-4 display-5-md display-6-sm">Composições SINAPI</h1>
        <p class="lead">Explore as Composições do SINAPI por Classes, Grupos e Cadernos, ou utilize a caixa de pesquisa abaixo</p>
    </div>

    <form method="get" class="mb-3" action="{% url 'compositions:composition_search' %}">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Pesquise por composições por nome ou código" name="q" value="{{ request.GET.q }}">
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">Pesquisar</button>
            </div>
        </div>
    </form>

    <!-- Macrotema 01 -->
    <div class="card mt-4">
        <div class="card-header">
            <h2>Habitação, Fundações e Estruturas</h2>
        </div>
        <ul class="list-group list-group-flush">
            {% for classe in classes_01 %}
                <li class="list-group-item">
                    <a href="{% url 'compositions:classe_detail' classe.code|lower %}">{{ classe.name }} <small class="text-muted">({{ classe.code }})</small></a>
                </li>
            {% empty %}
                <li class="list-group-item">No classes available.</li>
            {% endfor %}
        </ul>
    </div>

    <!-- Macrotema 02 -->
    <div class="card mt-4">
        <div class="card-header">
            <h2>Instalações Hidráulicas e Elétricas Prediais e Redes de Distribuição de Energia Elétrica</h2>
        </div>
        <ul class="list-group list-group-flush">
            {% for classe in classes_02 %}
                <li class="list-group-item">
                    <a href="{% url 'compositions:classe_detail' classe.code|lower %}">{{ classe.name }} <small class="text-muted">({{ classe.code }})</small></a>
                </li>
            {% empty %}
                <li class="list-group-item">No classes available.</li>
            {% endfor %}
        </ul>
    </div>

    <!-- Macrotema 03 -->
    <div class="card mt-4">
        <div class="card-header">
            <h2>Saneamento e Infraestrutura Urbana</h2>
        </div>
        <ul class="list-group list-group-flush">
            {% for classe in classes_03 %}
                <li class="list-group-item">
                    <a href="{% url 'compositions:classe_detail' classe.code|lower %}">{{ classe.name }} <small class="text-muted">({{ classe.code }})</small></a>
                </li>
            {% empty %}
                <li class="list-group-item">No classes available.</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
