{% extends "base.html" %}
{% block title %}Insumos SINAPI | Todos Insumos SINAPI - Orcamentor{% endblock %}
{% block content %}


<form method="get" class="mb-3">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Pesquise por composições por nome ou código" name="q" value="{{ query }}">
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Pesquisar</button>
        </div>
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Descrição</th>
            <th>Unidade</th>
            <th>Tipo</th>
        </tr>
    </thead>
    <tbody>
        {% for composition in compositions %}
        <tr>
            <td>{{ composition.codigo }}</td>
            <td><a href="{% url 'compositions:composition_detail' composition.codigo %}">{{ composition.name }}</a></td>
            <td>{{ composition.unit }}</td>
            <td>{{ composition.get_composition_type_display }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No compositions found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<nav aria-label="Page navigation">
    <ul class="pagination">
        {% if compositions.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ compositions.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Anterior</a></li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">Anterior</span></li>
        {% endif %}
        
        <!-- Page number links -->
        {% for num in compositions.paginator.page_range %}
            {% if num >= start_page and num <= end_page %}
                {% if num == compositions.number %}
                    <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ num }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ num }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if compositions.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ compositions.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Próxima</a></li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">Próxima</span></li>
        {% endif %}
    </ul>
</nav>



{% endblock %}