{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Composition Details</h2>
    <hr>

    <h4>{{ composition.name }} ({{ composition.codigo }})</h4>
    <p>Unit: {{ composition.unit }}</p>

    <h5>Insumos:</h5>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Codigo</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Unidade</th>
            </tr>
        </thead>
        <tbody>
            {% for comp_insumo in composition.compositioninsumo_set.all %}
            <tr>
                <td>{{ comp_insumo.insumo.name }}</td>
                <td>{{ comp_insumo.insumo.codigo }}</td>
                <td>{{ comp_insumo.quantity }}</td>
                <td>{{ comp_insumo.insumo.unit }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}