{% extends 'base.html' %}
{% block title %}Sinapi - {{ grupo.name }}: {{ grupo.descricao }}{% endblock %}
{% block content %}
{% include "breadcrumb.html" %}
<h2>{{grupo.descricao }} <span class="text-muted">({{ grupo.name }})</span></h2>

{% if grupo.detaileddescription %}
<div class="card">
    <div class="card-body">
         <div class="module">
        <div class="collapse fade-out-effect" id="detailedDescriptionCollapse">
            <p class="card-text">{{ grupo.detaileddescription|linebreaks }}</p></div>
        <button class="btn " type="button" data-bs-toggle="collapse" data-bs-target="#detailedDescriptionCollapse" aria-expanded="false" aria-controls="detailedDescriptionCollapse">
            Ler Mais ⬇️
        </button>
    </div>
</div>
{% endif %}


<h3>Composições:</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Descrição</th>
            <th>Unidade</th>
        </tr>
    </thead>
    <tbody>
        {% for composition in compositions %}
        <tr>
            <td><a href="{% url 'compositions:composition_detail' composition.codigo %}">{{ composition.codigo }}</a></td>
            <td><a href="{% url 'compositions:composition_detail' composition.codigo %}">{{ composition.name }}</a></td>
            <td>{{ composition.unit }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<script>
    document.addEventListener("DOMContentLoaded", function() {
        var collapseElement = document.getElementById('detailedDescriptionCollapse');
        var button = document.querySelector('[data-bs-target="#detailedDescriptionCollapse"]');
        
        button.addEventListener('click', function() {
            collapseElement.classList.toggle('expanded');
            // Hide the button after it's clicked
            this.style.display = 'none';
        });
    });
</script>


{% endblock %}

