{% extends 'base.html' %}
{% block title %}  {{ insumo.name|title }} ({{ insumo.codigo }}){% endblock %}
{% block head_meta %}<meta name="description" content="Insumo SINAPI {{ insumo.codigo }} - {{ insumo.detaileddescription|truncatechars:160 }}">{% endblock %}
{% block content %}
<div class="container mt-5">
    <h1 class="display-4">{{ insumo.name }}</h1>
    <hr>
    <div class="row">
        <!-- Column for current cost -->
        <div class="col-md-4">
            <h2 style="">R$ {{ insumo.currentcost|floatformat:2 }}</h2>
            <small class="text-muted">Custo por {{ insumo.unit }}, referente ao estado de São Paulo para o mês de outubro de 2023</small>
        </div>

        <!-- Column for other details -->
        <div class="col-md-8">
            <small class="text-muted lead">Código SINAPI: {{ insumo.codigo }}</small><br>
            <small class="text-muted lead">Tipo: {{ insumo.insumo_type }}</small><br>
            <small class="text-muted lead">Unidade: {{ insumo.unit }}</small>
        </div>
    </div>
    <hr>

    <div class="row mb-4">
        <!-- Column for the image -->
        <div class="col-md-6">
            <img src="{{ MEDIA_URL }}insumos/{{ insumo.codigo }}.png" alt="Insumo Image" class="img-fluid">
        </div>

        <!-- Column for the detailed description -->
        <div class="col-md-6" style="white-space: pre-line;">
            {{ insumo.detaileddescription }}
            
        </div>
    </div>
<br>
    <h4>Composições SINAPI Que Utilizam Este Insumo</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Descrição</th>
           
        </tr>
    </thead>
    <tbody>
        {% for comp_insumo in related_compositions %}
        <tr>
            <td><a href="{% url 'compositions:composition_detail' comp_insumo.composition.codigo %}">{{ comp_insumo.composition.codigo }}</a></td>
            <td><a href="{% url 'compositions:composition_detail' comp_insumo.composition.codigo %}">{{ comp_insumo.composition.name }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</div>
{% endblock %}
