{% extends 'base.html' %}
{% block title %} {{ insumo.name }} ({{ insumo.codigo }})
{% endblock %}
{% block content %}
<div class="container mt-5">
    <h1 class="display-4">{{ insumo.name }}</h1>
    <small class="text-muted lead">Código: {{ insumo.codigo }}</small><br>
    <small class="text-muted lead">Tipo: {{ insumo.insumo_type }}</small>
    <hr>

    <div class="row mb-4">
        <!-- Column for the image -->
        <div class="col-md-6">
            <img src="{{ MEDIA_URL }}insumos/{{ insumo.codigo }}.png" alt="Insumo Image" class="img-fluid">
        </div>

        <!-- Column for the detailed description -->
        <div class="col-md-6" style="white-space: pre-line;">
            {{ insumo.detaileddescription }}
        </div>
    </div>

    <h3 class="mb-3">Custos por Estado (por {{insumo.unit }})</h3>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Estado</th>
                <th>Custo Desonerado</th>
                <th>Custo Não Desonerado</th>
            </tr>
        </thead>
        <tbody>
            {% for state_cost in state_costs %}
            <tr>
                <td>{{ state_cost.state.name }}</td>
                <td>
                    {% if state_cost.latest_desonerado_cost %}
                        R$ {{ state_cost.latest_desonerado_cost.cost }}
                    {% else %}
                        N/A
                    {% endif %}
                </td>
                <td>
                    {% if state_cost.latest_nao_desonerado_cost %}
                        R$ {{ state_cost.latest_nao_desonerado_cost.cost }}
                    {% else %}
                        N/A
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br><br>
    <h4>Composições SINAPI Que Utilizam Este Insumo</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Descrição</th>
           
        </tr>
    </thead>
    <tbody>
        {% for comp_insumo in related_compositions %}
        <tr>
            <td><a href="{% url 'compositions:composition_detail' comp_insumo.composition.codigo %}">{{ comp_insumo.composition.codigo }}</a></td>
            <td><a href="{% url 'compositions:composition_detail' comp_insumo.composition.codigo %}">{{ comp_insumo.composition.name }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</div>
{% endblock %}
