{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% block head_meta %}{% endblock %}
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="{% static 'mainapp/assets/orcamentor-e4dddb1f.svg' %}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap" rel="stylesheet">

    {% block extra_css %}
    {% endblock %}
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1HH2MB3HX6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-1HH2MB3HX6');
</script>
<body>
    <div id="root">
    <nav class="navbar navbar-expand-lg navbar-light ">
        <a class="navbar-brand" href="{% url 'compositions:home' %}"><img src="{% static 'mainapp/assets/orcamentor-e4dddb1f.svg' %}" alt=""> Orcamentor</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'compositions:classes_list' %}">Composições</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'compositions:insumo_list' %}">Insumos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:pricing' %}">Planos</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="{% url 'react_app' %}" class="btn btn-primary">LOGIN</a>
                </li>
            </ul>
        </div>
    </nav>


    <div id="main-container" class="container mt-4">
        {% block content %}
        <!-- This block will be filled by child templates -->
        {% endblock %}
    </div>

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  
    {% block extra_js %}
    {% endblock %}
    <footer class="footer mt-5">
        <div class="container py-3">
            <div class="row">
                <div class="col-md-4">
                    <h5>Base SINAPI</h5>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'compositions:classes_list' %}">Composições</a></li>
                        <li><a href="{% url 'compositions:insumo_list' %}">Insumos</a></li>
                    </ul>
                </div>
                <div class="col-md-4 text-center">
                    <h5>Legal</h5>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'privacy_policy' %}">Política de Privacidade</a></li>
                        <li><a href="{% url 'terms_and_conditions' %}">Termos de Uso</a></li>
                    </ul>
                </div>
                <div class="col-md-4 text-right">
                    <h5><a href="mailto:orcamentorapp@gmail.com">Contato</a></h5>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p class="text-muted">&copy; 2024 Orcamentor. Todos os direitos reservados.</p>
                </div>
            </div>
        </div>
    </footer>
</div>
</body>

</html>