{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% block head_meta %}{% endblock %}
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap" rel="stylesheet">

    {% block extra_css %}
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'compositions:home' %}">Orcamentor</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'compositions:classes_list' %}">Composições</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'compositions:insumo_list' %}">Insumos</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="{% url 'react_app' %}" class="btn btn-primary">Criar Orçamento</a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="container mt-4">
        {% block content %}
        <!-- This block will be filled by child templates -->
        {% endblock %}
    </div>

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


    {% block extra_js %}
    {% endblock %}
    <footer class="footer bg-light mt-5">
        <div class="container py-3">
            <div class="row">
                <div class="col-md-6">
                    <h5>Orcamentor</h5>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'compositions:classes_list' %}">Composições</a></li>
                        <li><a href="{% url 'compositions:insumo_list' %}">Insumos</a></li>
                    </ul>
                </div>
                <div class="col-md-6 text-right">
                    <h5>Contato</h5>
                    <address>
                        contato@orcamentor.com
                    </address>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p class="text-muted">&copy; 2023 Orcamentor. Todos os direitos reservados.</p>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>