{% extends 'base.html' %}
{% block title %}Por Isso Estou Quebrado - Contato{% endblock %}
{% block content %}

<div class="container">
  <div class="row">


  <p>PorIssoEstouQuebrado é uma revista online escrita por um bando de nerds que passam tempo demais comprando online.</p>

  <p>Nossa filosofia é simples: nós queremos mostrar para os nossos leitos apenas as coisas mais legais possíveis de comprar online. Não estamos interessados em produtos chatos e que são mais do mesmo.</p>
  <p> Quando você visita o PorIssoEstouQuebrado, queremos que você se divirta e encontre ideias legais de coisas para comprar e ideias de presentes para os seus amigos.</p>
<br><br>
</div>
<div class="row">
    <div class="col-md-6">
<h3>Contato</h3>
<p>Para reclamações, sugestões ou qualquer assunto que queira falar com nós, envie um email para contato@porissoestouquebrado.com</p>
</div>
<div class="col-md-6">
<h3>Sugerir um Produto</h3>
<p>Se você tem um produto diferente que acha que encaixa bem no PorIssoEstouQuebrado. envie um email para produtos@porissoestouquebrado.com</p>
</div>
</div>


{% endblock %}
