{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="{% static 'mainapp/assets/orcamentor-e4dddb1f.svg' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <title>Orcamentor - Orçamentos de Obra com Base SINAPI</title>
    <script type="module" crossorigin src="{% static 'mainapp/assets/index-9b835ac4.js' %}"></script>
    <link rel="stylesheet" href="{% static 'mainapp/assets/index-79df5c90.css' %}">
</head>

<body>
    <div id="app-container">
        <div id="sidebar" class="sidebar-expanded"></div>
        <div id="root"  class="root-expanded"></div>
      </div>
</body>

</html>