{% extends 'base.html' %}

{% block content %}
    <h1>Política de Privacidade do Orcamentor</h1>
    <p>Última atualização: 08 de novembro de 2023</p>

    <h2>Informações Gerais</h2>
    <p>
        No Orcamentor, valorizamos a privacidade de nossos usuários. Esta Política de Privacidade detalha como lidamos com as informações coletadas pelo Orcamentor (https://www.orcamentor.com).
    </p>

    <h2>Alcance da Política de Privacidade</h2>
    <p>
        Esta Política de Privacidade se aplica às informações pessoais coletadas pelo website e serviços do Orcamentor.
    </p>

    <h2>Coleta e Uso de Informações</h2>
    <p>
        Coletamos informações que você fornece ao se registrar e usar nossos serviços. Isso pode incluir seu nome, e-mail, gênero e profissão.
    </p>

    <h2>Compartilhamento de Informações</h2>
    <p>
        Não vendemos nem alugamos suas informações pessoais. Podemos compartilhá-las em circunstâncias específicas, como processos judiciais ou com o seu consentimento.
    </p>

    <h2>Cookies e Tecnologias Semelhantes</h2>
    <p>
        Utilizamos cookies para melhorar sua experiência. Você pode gerenciar suas preferências de cookies no seu navegador.
    </p>

    <h2>Suas Escolhas e Direitos</h2>
    <p>
        Você pode acessar e alterar suas informações pessoais nas configurações de sua conta.
    </p>

    <h2>Segurança das Informações</h2>
    <p>
        Sua conta é protegida por senha e você deve manter essa senha em segurança.
    </p>

    <h2>Mudanças na Política de Privacidade</h2>
    <p>
        Podemos atualizar esta política ocasionalmente e avisaremos sobre mudanças significativas.
    </p>

    <h2>Contato</h2>
    <p>
        Se tiver perguntas sobre esta política, entre em contato pelo e-mail: contato@orcamentor.com     </p>


{% endblock %}
