{% extends 'base.html' %}
{% load static %}
{% load form_tags %}

{% block title %}Cadastre-se no Orcamentor{% endblock %}

{% block content %}

<style>
  .card {
  /* Box shadow with a slight outward extension, giving a depth effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  /* Other styling can be included here as well */
}

/* Remove the inline styles from the container-fluid div and add a class if needed */
.container-fluid {
   /* This can be any color that suits the design */
}

.pricing-header {
  text-align: center;
  padding: 20px;
  color: #333; /* Adjust the color to match your design */
}

.pricing-header .subheading {
  font-size: 16px;
  text-transform: uppercase;
  color: #777; /* This is a lighter shade for the subheading */
  margin-bottom: 5px; /* Adjust as needed */
}

.pricing-header .main-heading {
  font-size: 36px; /* Adjust the size as needed */
  font-weight: bold;
  color: #333; /* Adjust the color to match your design */
}

.pricing-header .main-heading span {
  color: #E53E3E; /* This color is for the accent text */
}

.form-select {
    /* Custom styles for select dropdown */
    display: block;
    width: 100%;
    padding: 0.375rem 1.75rem 0.375rem 0.75rem; /* Match Bootstrap's form-control padding */
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem; /* Match Bootstrap's form-control border radius */
    appearance: none;
    /* You can add a background image for the dropdown arrow */
  }
</style>


<script>
  function formatPhoneNumber(value) {
      if (!value) return value;
      const phoneNumber = value.replace(/[^\d]/g, '');
      const phoneNumberLength = phoneNumber.length;
      if (phoneNumberLength < 4) return phoneNumber;
      if (phoneNumberLength < 7) {
          return `(${phoneNumber.slice(0, 2)}) ${phoneNumber.slice(2)}`;
      }
      return `(${phoneNumber.slice(0, 2)}) ${phoneNumber.slice(2, 7)}-${phoneNumber.slice(7, 11)}`;
  }
  
  function onPhoneInputChange(event) {
      const input = event.target;
      const formatted = formatPhoneNumber(input.value);
      input.value = formatted;
  }
  </script>
  
<div class="pricing-header">
 
  <h3 class="main-heading">Criar uma conta</h3>
    <h4 class="subheading">O Orcamentor pode ser usado gratuitamente</h6>
</div>
<div class="container-fluid">
  <div class="container p-5">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8 mb-6">
        <div class="card h-100 shadow-lg">
          <div class="card-body">
           
            <form method="post">
              {% csrf_token %}
              <div class="form-group mb-3">
                {{ form.first_name.label_tag }}
                {{ form.first_name|add_class:"form-control" }}
                {% if form.first_name.errors %}
                  <div class="alert alert-danger">{{ form.first_name.errors }}</div>
                {% endif %}
              </div>

              <div class="form-group mb-3">
                {{ form.last_name.label_tag }}
                {{ form.last_name|add_class:"form-control" }}
                {% if form.last_name.errors %}
                  <div class="alert alert-danger">{{ form.last_name.errors }}</div>
                {% endif %}
              </div>

              <div class="form-group mb-3">
                {{ form.email.label_tag }}
                {{ form.email|add_class:"form-control" }}
                {% if form.email.errors %}
                  <div class="alert alert-danger">{{ form.email.errors }}</div>
                {% endif %}
              </div>

              <div class="form-group mb-3">
                {{ form.phone_number.label_tag }}
                <input type="text" name="phone_number" id="id_phone_number" class="form-control" oninput="onPhoneInputChange(event)">
                {% if form.phone_number.errors %}
                    <div class="alert alert-danger">{{ form.phone_number.errors }}</div>
                {% endif %}
            </div>
              
              <div class="form-group mb-3">
                {{ form.state.label_tag }}
                {{ form.state|add_class:"form-select" }}
                {% if form.state.errors %}
                  <div class="alert alert-danger">{{ form.state.errors }}</div>
                {% endif %}
              </div>

              <div class="form-group mb-3">
                {{ form.password1.label_tag }}
                {{ form.password1|add_class:"form-control" }}
                {% if form.password1.errors %}
                  <div class="alert alert-danger">{{ form.password1.errors }}</div>
                {% endif %}
              </div>

              <div class="form-group mb-3">
                {{ form.password2.label_tag }}
                {{ form.password2|add_class:"form-control" }}
                {% if form.password2.errors %}
                  <div class="alert alert-danger">{{ form.password2.errors }}</div>
                {% endif %}
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary btn-block">Registrar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>    
  </div>
</div>
{% endblock %}