{% extends 'base.html' %}

{% block content %}

<h1>Termos de Uso do Orcamentor</h1>
<p>Estes Termos de Uso regulamentam a utilização do website e dos serviços do Orcamentor, localizado em www.orcamentor.com.</p>

<h2>Política de Uso</h2>
<p>Ao utilizar os serviços do Orcamentor, você concorda com estes Termos de Uso, responsabilizando-se integralmente pelo seu cumprimento. Qualquer infração pode levar a consequências judiciais.</p>

<h3>1. Serviços Oferecidos</h3>
<p>O Orcamentor oferece um sistema para elaboração de orçamentos de obras baseado na tabela Sinapi, entre outras. A versão gratuita inclui acesso ao banco de dados Sinapi e a criação de até 5 orçamentos, enquanto a versão paga expande essas funcionalidades.</p>

<h3>2. Do Envio de Opiniões e Comentários</h3>
<p>Comentários respeitosos são bem-vindos e encorajados, mas o Orcamentor reserva-se o direito de moderá-los e excluir aqueles considerados ofensivos.</p>

<h3>3. Dos Anúncios Publicados no Site</h3>
<p>Anúncios de terceiros podem aparecer no site para usuários da versão gratuita. O Orcamentor não se responsabiliza por quaisquer transações realizadas através desses anúncios.</p>

<h3>4. Dos Direitos Autorais</h3>
<p>O conteúdo do site é protegido por lei e seu uso é limitado à visualização no site, sendo proibida a cópia ou reprodução não autorizada.</p>

<h3>5. Da Cessão dos Dados Cadastrais e da Utilização de Cookies</h3>
<p>Ao se cadastrar, você concorda com o uso e possível cessão de seus dados e o uso de cookies para melhorar a experiência de navegação.</p>

<h3>6. Direito de Regresso</h3>
<p>O usuário é responsável por qualquer violação de direitos que suas ações possam causar, comprometendo-se a ressarcir o Orcamentor por quaisquer custos decorrentes de tais infrações.</p>

<h3>7. Sigilo dos Dados do Usuário</h3>
<p>O Orcamentor mantém o sigilo das informações dos usuários, exceto em casos de manutenção do sistema ou se o acesso for obtido por terceiros com a senha do usuário.</p>

<h3>8. Legislação e Foro</h3>
<p>Os termos serão regidos pelas leis brasileiras e quaisquer controvérsias serão resolvidas no Foro da Comarca de Porto Alegre, com exclusão de qualquer outro.</p>

<p>Para qualquer esclarecimento ou realização de ações referentes aos Termos de Uso, favor entrar em contato através do e-mail: contato@orcamentor.com</p>

{% endblock %}
