{% extends 'base.html' %}
{% load static %}

{% block title %}Obrigado por se Cadastrar - Orcamentor{% endblock %}

{% block content %}
<h2>Reset Your Password</h2>
<form id="resetPasswordForm">
    <input type="hidden" id="uid" value="{{ uid }}" />
    <input type="hidden" id="token" value="{{ token }}" />
    <input type="password" id="newPassword1" placeholder="novo Password" required />
    <input type="password" id="newPassword2" placeholder="Confirmar Novo password" required />
    <button type="submit">Reset Password</button>
</form>


<script>
  document.getElementById('resetPasswordForm').addEventListener('submit', function(e) {
      e.preventDefault();

       // Get uid and token values from hidden input fields
      const uid = document.getElementById('uid').value;
      const token = document.getElementById('token').value;

      // Get password values
      const newPassword1 = document.getElementById('newPassword1').value;
      const newPassword2 = document.getElementById('newPassword2').value;

      // Prepare data for POST request
      const formData = new FormData();
      formData.append('uid', uid);
      formData.append('token', token);
      formData.append('new_password1', newPassword1);
      formData.append('new_password2', newPassword2);

      // Make POST request to dj-rest-auth endpoint
      fetch('/auth/password/reset/confirm/', {
          method: 'POST',
          body: formData
      })
      .then(response => response.json())
      .then(data => {
          // Handle response
          if (data.detail) {
              alert(data.detail);
          }
      })
      .catch(error => {
          // Handle error
          console.error('Error:', error);
      });
  });
</script>



{% endblock %}